.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.img1{
display: none;
}
/* dice one */
.dice11{
  display: none;
}
.dice12{
display: none; 
}
.dice13{
display: none; 
}
.dice14{
display: none; 
}
.dice15{
display: none; 
}
.dice16{
display: none; 
}
/* dice two */
.dice21{
  display: none;
}
.dice22{
display: none; 
}
.dice23{
display: none; 
}
.dice24{
display: none; 
}
.dice25{
display: none; 
}
.dice26{
display: none; 
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
